.form_dn_page_repository_page_tree_form__module_container_row__module_id,
.form_dn_page_repository_page_new_form__module_container_row__module_id,
.form_dn_page_repository_page_view_form__module_container_row__module_id,
.form_dn_page_repository_page_edit_form__module_container_row__module_id,
.form_dn_page_repository_page_translate_form__module_container_row__module_id,
.form_dn_page_repository_fragment_new_form__module_container_row__module_id,
.form_dn_page_repository_fragment_edit_form__module_container_row__module_id,
.form_dn_page_repository_fragment_translate_form__module_container_row__module_id,
.form_wg_new_comment_form__module_container_row__module_id,
.form_wg_new_document_form__module_container_row__module_id,
.form_wg_new_tag_form__module_container_row__module_id,
.form_dn_page_repository_fragment_file_new_form__module_container_row__module_id,
.form_dn_page_repository_fragment_file_translate_form__module_container_row__module_id,
.form_dn_page_repository_fragment_delete_form__module_container_row__module_id {
	display: none;
}

.form_dn_page_repository_page_view_form_who, .form_dn_page_repository_page_view_form_language {
	font-size: 0.75em;
}

/* fragment */
.form_dn_page_repository_page_view_form_fragment_holder {
	margin-top: 1em;
}
.form_dn_page_repository_page_view_form_fragment_code_title {
	font-size: 1em;
	font-style: italic;
	text-align: center;
}
.form_dn_page_repository_page_view_form_fragment_code_pre pre {
	margin-bottom: 0;
}
.form_dn_page_repository_page_view_form_fragment_note {
	border: 3px double #000;
	padding: 0.5em;
}
.form_dn_page_repository_page_view_form_fragment_note h4 {
	text-align: center;
}